.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2px;
    border-style: solid;
    box-sizing: content-box;
  }

  .playerPoints{
    width: 14px;
    display: inline-block;
  }

.dotSearch{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
}

  .player {
    width: 85px;
    justify-content: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .parent {
    display: flex;
    flex-direction:row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .parentStats{
    justify-content: space-around !important;
  }
  .leagueContainer{
    display: flex;
    justify-content: space-between;
  }

  .subscriptionRow{
    display: flex;
    justify-content: space-between;
  }

  .liveLeagueData{
    width: 140px;
  }

  .liveLeagueTotal{
    width: 45px;
  }

  .liveLeaguePoints{
    width: 77px;
  }

  .smallFont{
    font-size: 0.8rem !important;
  }

  .arsenal{
    background-color: red;
    border-color: white;
  }

  .astonvilla{
    background-color: maroon;
    border-color: maroon;
  }

  .brentford{
    background-image: linear-gradient(90deg, #ff001e 25%, #ffffff 25%, #ffffff 50%, #ff001e 50%, #ff001e 75%, #ffffff 75%, #ffffff 100%);
    background-size: 20.00px 20.00px;
    border-color: #ff001e;
  }

  .brighton{
    background-image: linear-gradient(90deg, #2f2f9e 25%, #ffffff 25%, #ffffff 50%, #2f2f9e 50%, #2f2f9e 75%, #ffffff 75%, #ffffff 100%);
    background-size: 20.00px 20.00px;
    border-color: #2f2f9e;
  }

  .chelsea{
    background-color: blue;
    border-color: black;
  }

  .burnley{
    background-color: maroon;
    border-color: maroon;
  }

  .crystalpalace{
    background-image: linear-gradient(130deg, #d41724 25%, #0000d6 25%, #0000d6 50%, #d41724 50%, #d41724 75%, #0000d6 75%, #0000d6 100%);
    background-size: 13.05px 15.56px;
    border-color: #d41724;
  }

  .everton{
    background-color: blue;
    border-color: yellow;
  }

  .leeds{
    border-color: black;
    border-style: solid;
  }

  .leicester{
    background-color: blue;
    border-color: blue;
  }

  .liverpool{
    background-color:red;
    border-color: red;
  }

  .mancity{
    background-color: skyblue;
    border-color: skyblue;
  }

  .manutd{
    background-color: red;
    border-color: black;
    border-style: solid;
  }

  .newcastle{
    background-image: linear-gradient(90deg, #000000 25%, #ffffff 25%, #ffffff 50%, #000000 50%, #000000 75%, #ffffff 75%, #ffffff 100%);
    background-size: 20.00px 20.00px;
    border-color: black;
  }

  .norwich{
    background-color: yellow;
    border-color: yellow;
  }

  .southampton{
    background-image: linear-gradient(90deg, #ffffff 25%, #d10808 25%, #d10808 50%, #ffffff 50%, #ffffff 75%, #d10808 75%, #d10808 100%);
    background-size: 20.00px 20.00px;
    border-color: #d10808;
  }

  .spurs{
    border-color: darkblue;
    background-color: white;
    border-style: solid;
  }

  .watford{
    background-image: linear-gradient(180deg, #e8e809 25%, #1a0000 25%, #1a0000 50%, #e8e809 50%, #e8e809 75%, #1a0000 75%, #1a0000 100%);
    background-size: 20.00px 20.00px;
    border-color: #e8e809;
  }

  .westham{
    background-color: maroon;
    border-color: skyblue;
  }

  .wolves{
    background-color: orange;
    border-color: orange;
  }

  .container{
    overflow: auto;
  }

  .green{
    color: green;
    width: 14px;
    display: inline-block;
  }

  .red{
    color: red;
    width: 14px;
    display: inline-block;
  }
  
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1px;
}

.slider.round:before {
  border-radius: 50%;
}

.signUp{
  width: 200px;
}

.gameStarted{
  background-color: green !important;
}

.accordion-body{
  background-color: #d8c99b !important;
}


.navbar{
  background-color: #a4243b;
  color: white !important;
}

.navbar-light .navbar-nav .nav-link{
  color: white !important;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus{
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white  !important;
}

.navbar-light .navbar-toggler {
  color: white !important;
  border-color: white !important;
}